# --------------------------
# Workspace
# --------------------------
dev:
  restart: always
  build: .
  ports:
    - "3000:3000"   # rails
    - "3443:3443"   # rails (https)
    - "4000:4000"   # phoenix
    - "4443:4443"   # phoenix (https)
    - "4567:4567"   # sinatra

    - "2222:22"     # ssh
  links:
    - mariadb
    - postgres
    - redis
    - mongo
    # - memcached
  privileged: true    # for sysctl -p
  # sync is heavy. use lsyncd
  # volumes:
  #   - ./work:/home/kaave/work

# --------------------------
# Web server
# --------------------------
nginx:
  restart: always
  image: nginx:stable-alpine
  # volumes:
  #  - ./nginx.conf:/etc/nginx/conf/nginx.conf
  ports:
    - "8080:80"     # http
    - "8443:443"    # https
  links:
    - dev

# --------------------------
# Databases
# --------------------------
mariadb:
  restart: always
  image: mariadb
  volumes:
    - ./data/mysql:/var/lib/mysql
  ports:
    - "3306:3306"
  environment:
    - MYSQL_ROOT_PASSWORD=root

postgres:
  restart: always
  image: kiasaki/alpine-postgres
  volumes:
    - ./data/postgres:/var/lib/postgresql/data
  ports:
    - "5432:5432"
  environment:
    - POSTGRES_PASSWORD=postgres

redis:
  restart: always
  image: redis:alpine
  volumes:
    - ./data/redis:/data
  ports:
    - "6379:6379"
  command: redis-server --appendonly yes

mongo:
  restart: always
  image: mvertes/alpine-mongo
  ports:
    - "27017:27017"
  volumes:
    - ./data/mongodb:/data/db

# memcached:
#   restart: always
#   image: memcached
#   ports:
#     - "11211:11211"
